<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>
    <link rel="stylesheet" href="/admin/style.css">
</head>
<body id="home-body">

    <div class="container">
        <div class="login-top">
            <p>Admin Login</p>
        </div>
        
        <div class="login-mid">
            <div class="uname_pass">
                <p>username:</p>
                <input class="cred" type="text">
                <p>password:</p>
                <input class="cred" type="password">
            </div>
            <div class="captcha">🐈 Captcha or kung ano man</div>
        </div>

        <div class="login-bot">
            <button type="submit" id="login-btn">
                log-in
            </button> 
        </div>
    </div>

</body>
</html>