<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>
    <link rel="stylesheet" href="/admin/style.css">
</head>
<body id="home-body">

    <div class="container">
        <div class="login-top">
            <p>Admin Login</p>
        </div>
        
        <form action="/admin/login" method="GET">
            <div class="login-mid">
                <div class="uname_pass">
                    <p>Username:</p>
                    <input class="cred" type="text" name="aUsername">
                    <p>Password:</p>
                    <input class="cred" type="password" name="aPass">
                </div>
            </div>
    
            <div class="login-bot">
                <input type="submit" id="login-btn" name="submit-btn" value="Log In">
            </div>
        </form>
    </div>

</body>
</html>