<!-- THIS IS THE INFO TO BE INSERTED IN THE RIGHT SIDE OF CONTENT -->

    <div class="right upper">
        <p>Students Statistics</p>
        <div class="stats">
            
        </div>
    </div>
    <div class="right lower">
        <div class="student-count">
            <p>Total Count of Students</p>
            <div class="total-count">
                pwdeng kahit about all totals here
                like quests etc.
            </div>
        </div>
        <div class="map-prev">
            <p>Map Preview</p>
            <div class="map-stats">
                <div class="facil-stats">
                    <div>Total Rooms:</div>
                    <div>Total Floors:</div>
                    <div>Total Buildings:</div>
                </div>
                <div class="map-btn">
                    this is clickable, once clicked, may lalabas na modal for the map
                </div>
            </div>
        </div>
    </div>



