<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <metaname="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <script src="/index.js" defer></script>

    <!-- BOOT STRAP -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    <title>Home</title>
</head>
<body class="admin-template">
    <nav>
        <div id="title">🎮 The Campus Chronicles</div>
        <div id="options">
            <li>Admin</li>
            <li id="hamburger">🍔</li>
        </div>
    </nav>

    <div class="Center">
        <div class="Left">
            <div class="Left Cont"> 
                <div class="Menu">
                    <p>Menu</p>
                </div>
                <div class="Pages">
                    <li class="Home">
                        <a href="/admin/home">Home</a>
                     </li>
                    <li class="quest">
                        <a href="/admin/setup/quest">Setup Quest</a>
                    </li>
                    <li class="map">
                        <a href="/admin/setup/map">Setup Map</a>
                    </li>
                    <li class="students">
                        <a href="/admin/setup/student">Setup Student</a>
                    </li>
                </div>
            </div>
        </div>

        <div class="right-side">    
            <%- include(content) %>     
        </div>
        
        <% if (content === "quest") { %>
            <%- include("choice_container/choice-options") %>
        <% } else {%>
            
        <%  }%>
        <!--  Else if others, change-->

    </div>
    <%- include("operations/add")//Dk if magerror, sometimes d sha nalabas nageerror %>

    <footer>
         BASE SIZES 
            width: 76vw;
            height: 80vh;
        FOOTER ETO
    </footer>

   <!-- Bootstrap JS (jQuery is included in Bootstrap JS) USED for add modal-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        let id; // ID indicator for each of the update,or delete
    </script>
</body>
</html>