<!-- THIS IS THE INFO TO BE INSERTED IN THE RIGHT SIDE OF CONTENT -->
<div class="right-side quest">
    <div class="choices">
        
        <button id="npc-btn" onclick="location.href = '/admin/setup/npc'">NPC</button>
        
        <button id="croom-btn" onclick="location.href = '/admin/setup/classroom'">Classroom</button>
    
        <button id="quest-btn" onclick="location.href = '/admin/setup/quest'">Quest</button>
        
    </div>
    <div class="choice-container" >
        
        <%- include(choice) %>
        
        <!-- div ng buttons -->
    </div>

</div>


