<div class="delete-cont">
    <form name="delete-forms" action="/admin/setup/npc/delete/<%= String(npcDesigChoice[0].npc_id) %>" >
        <h1>Are you sure you want to delete <%= npcDesigChoice[0].npc_name %> with and ID of: <%= npcDesigChoice[0].npc_id %></h1>
        <a id="delete-btn-forms" class="btn btn-danger" onclick="deleteRequest('<%= npcDesigChoice[0].npc_id %>')" href="/admin/setup/npc/">Delete</a>
        <a href="/admin/setup/npc/" class="btn btn-secondary">Back</a>
    </form>

</div>