 
    <div id="fitb_backgrund" class="fill_in_the_blank" style="visibility: hidden;">
        <div id="fitb_holder_bg">
            <div id="top_fitb">
                FILL IN THE BLANK
            </div>

            <div id="bottom_fitb">
                <div id="fb-ques"></div>
                
                <div id="answer_fitb">drag your answer here</div>
            </div>
            <p id="fb-ans" hidden></p>
            <div id="bottom_fitb_two">
                <div class="draggable" draggable="true" id="fb-c1">Yes</div>
                <div class="draggable" draggable="true" id="fb-c2">Maybe</div>
                <div class="draggable" draggable="true" id="fb-c3">Hard NO</div>
                <div class="draggable" draggable="true" id="fb-c4">ulalalala</div>
            </div>
        </div>
    </div>
    

<script >
    const fb = document.getElementById('fitb_backgrund');
    document.addEventListener('DOMContentLoaded', function() {
        const draggableItems = document.querySelectorAll('.draggable');
        const dropZone = document.getElementById('answer_fitb');        

        draggableItems.forEach(item => {
            item.addEventListener('dragstart', dragStart);
        });

        dropZone.addEventListener('dragover', dragOver);
        dropZone.addEventListener('drop', drop);

        function dragStart(event) {
            event.dataTransfer.setData('text/plain', event.target.innerText);
        }

        function dragOver(event) {
            event.preventDefault();
        }

        function drop(event) {
            event.preventDefault();
            const data = event.dataTransfer.getData('text/plain');
            const fbAnswer = document.getElementById('fb-ans').textContent;

            if (data === `${fbAnswer}`) {
                event.target.style.border = '3px solid green';
                event.target.style.textAlign = 'center';
                event.target.style.fontWeight = 'bold';
                event.target.style.fontSize = '24px';
                event.target.style.color = 'red';
                event.target.textContent = data;
                
                // draggableItems.forEach(item => {
                //     if (item.innerText === 'Yes') {
                //         item.remove();
                //     }
                // });
                setTimeout(()=>{
                    fb.style.visibility = 'hidden';
                    event.target.textContent = "";
                    questCounter++;
                    if(questCounter === 3){
                        go('inBedroom')
                    }
                },2000)
            } else {
                event.target.style.border = '3px solid red';
            }
    }
});

    </script>

