
    <div id="ps_backgrund" class="picture_selection_bg"  style="visibility: hidden;">
        <div id="pic_sel_holder">
            <div id="top_pic_sel"> PICTURE SELECTION</div>
                <div id="bottom_content">
                    <div id="bottom_pic_sel_question"> 
                        <label for="bottom_pic_sel_question">of BatStateU The NEU Lipa was successfully established as the highest and biggest student organization inside the campus.</label>
                    </div>
                        <div id="bottom_pic_sel">  
                            <div id="ps">

                                <div id="pic_sel_content">

                                <div class="pic_holder" id="pic_holder1" >
                                    <img src="/Assets/org_logos/acass.jpg">
                                </div>

                                <div class="pic_holder" id="pic_holder2">
                                    <img src="/Assets/org_logos/cabe.jpg">
                                </div>

                                <div class="pic_holder" id="pic_holder3">
                                    <img src="/Assets/org_logos/jpiie.jpg">
                                </div>

                                <div class="pic_holder" id="pic_holder4">
                                    <img src="/Assets/org_logos/jpcs.jpg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/script/ps.js"></script>


    
<!-- icons-->
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script> 

<script>
    document.addEventListener('DOMContentLoaded', function() {
    const picHolders = document.querySelectorAll('.pic_holder');
    const ps = document.getElementById('ps_backgrund');

    picHolders.forEach(picHolder => {
        picHolder.addEventListener('click', function() {
           
            picHolders.forEach(holder => {
                holder.style.backgroundColor = 'var(--black2)';
                holder.style.borderColor = 'var(--maroon)';
            });

            if (this.id === 'pic_holder1') {
                this.style.backgroundColor = '#0a5c36';
                this.style.borderColor = 'white'
                setTimeout(()=>{
                    this.style.backgroundColor = '';
                    this.style.borderColor = ''
                    ps.style.visibility = 'hidden';
                },2000)
            } else {
                this.style.backgroundColor = '#b80000';
                this.style.borderColor = 'white'
            }
        });
    });
});

</script>