<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="shortcut icon" type="x-icon" href="/Assets/landing_img/pusa.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  <title>The Campus Chronicles - Landing Page</title>
  <meta name="title" content="Razberie">
  <meta name="description" content="The draft landing page of The campus chronicles">

 
  <link rel="shortcut icon" href="/favicon.svg" type="image/svg+xml">
  <link rel="stylesheet" href="landing_page.css">

  <!--- preload images-->
  <link rel="preload" as="image" src= "/Assets/landing_img/cat.png">
  <link rel="preload" as="image" src= "/Assets/landing_img/3.png">

</head>

<body>

  <!--- #PRELOADER-->

<div class="preloader" data-preloader>
  <div class="circle"></div>
</div>


<!-- - #HEADER-->

<header class="header" data-header>
  <div class="container">
    <a href="#" class="logo">
      <img src="/Assets/landing_img/pusa.png" alt="cc"> 
      <span>RAZBERYIE</span>
    </a>
      <button class="nav-toggle-btn" data-nav-toggler data-nav-toggle-btn aria-label="Toggle menu">
        <span class="line line-1"></span>
        <span class="line line-2"></span>
      </button>

        <nav class="navbar" data-navbar>
          <ul class="navbar-list">

            <li>
              <a href="#" class="navbar-link">Home</a>
            </li>

            <li>
              <a href="#about" class="navbar-link">About</a>
            </li>

            <li>
              <a href="#objective" class="navbar-link">Objective</a>
            </li>

            <li>
              <a href="#character" class="navbar-link">Characters</a>
            </li>

            <li>
              <a href="#dev" class="navbar-link">Developers</a>
            </li>

            <li>
              <a href="#con" class="navbar-link">Contacts</a>
            </li> 

          </ul>
        </nav>

    <div class="overlay" data-nav-toggler data-overlay></div>

  </div>
</header>



<main>
  <article>
    <section class="section hero" aria-label="home">
      <div class="container">
        <div class="hero-content">
          <h1 class="h1 hero-title">The Campus chronicles</h1>
            <p class="hero-subtitle">
              The Official Game of RazBerYie
            </p>

              <div class="hero-banner">
                <img src="/Assets/landing_img/cat.png" width="800" height="800" alt="kane williams" class="w-100">
              </div>

              <p class="section-text">
                Step into the pixelated halls of our a gamified School Map Adventure! Explore, quest, and conquer in this retro-meets-modern journey through corridors, classrooms, and secrets galore. Unleash your inner explorer and unlock rewards as you navigate through challenges and puzzles. It's time to level up your school day with Agamified Navigation!
              </p>

              <a href="/user/login/" class="btn has-before">
                <span class="span">PLAY</span>
                <ion-icon name="download-outline" aria-hidden="true"></ion-icon>
              </a>

        </div>

      </div>
    </section>

<!-- - #about-->

<section id="about" class="service" aria-labelledby="service-label">
  <div class="container">
    <div class="title-wrapper">
      <div>
        <p class="section-subtitle">
          The Offical Game of RazBerYie
        </p>
          <h2 class="h2 section-title" id="service-label">About</h2>
        </div>
          <p class="section-text">     
            "Dive into our Agamified Navigation Pixel Game of the School Map! Explore halls, solve puzzles, and complete quests to unlock rewards and uncover secrets. Are you ready for the ultimate school adventure?"
          </p>
      </div>

<!-- - slider-->


<div class="slider" data-slider>
  <ul class="slider-container service-list" data-slider-container>

    <li class="slider-item" data-slider-item>
      <div class="service-card">

        <div class="card-icon">
          <ion-icon name="desktop-outline"></ion-icon>
        </div>

          <h3 class="h3 card-title">Immersive Pixelated World</h3>

          <p class="card-text">
            Prepare to step into a captivating world where nostalgia meets innovation. Our game transports you into a meticulously crafted school map brought to life with charming pixel graphics. Every corner bursts with personality, from the quaint classrooms to the winding corridors and hidden alcoves. Get ready to lose yourself in the enchanting atmosphere of our pixelated universe.
          </p>

          <span class="text-lg card-number">01</span>

          <a href="#" class="layer-link" aria-label="More about my website design service"></a>

      </div>

        </li>

          <li class="slider-item" data-slider-item>
            <div class="service-card">

              <div class="card-icon">
                <ion-icon name="podium-outline"></ion-icon>
              </div>

                <h3 class="h3 card-title">Quest-Based Gameplay</h3>

              <p class="card-text">
                Say goodbye to mundane routines and hello to thrilling adventures! Our game is driven by an array of captivating quests scattered throughout the school map. Each quest presents a unique challenge, whether it's helping a lost student find their way or solving a perplexing riddle from the school's enigmatic custodian. With every quest you conquer, expect to be rewarded handsomely, unlocking new areas of the map and unveiling tantalizing secrets along the way.
              </p>

                <span class="text-lg card-number">
                  02
                </span>

                <a href="#" class="layer-link" aria-label="More about my SEO Marketing service"></a>

            </div>
          </li>

          <li class="slider-item" data-slider-item>
            <div class="service-card">

              <div class="card-icon">
                <ion-icon name="basket-outline"></ion-icon>
              </div>

                <h3 class="h3 card-title">Unlockable Rewards</h3>

                <p class="card-text">
                  The joy of accomplishment awaits those who dare to embark on our quest-driven journey. Successfully completing quests not only brings a sense of fulfillment but also unlocks a treasure trove of rewards. From coveted items and power-ups to access to previously inaccessible areas, each reward serves as a testament to your bravery and wit.
                </p>

                <span class="text-lg card-number">
                  03
                </span>

                <a href="#" class="layer-link" aria-label="More about my eCommerce service"></a>

            </div>
          </li>

          <li class="slider-item" data-slider-item>
            <div class="service-card">

              <div class="card-icon">
                <ion-icon name="color-filter-outline"></ion-icon>
              </div>

              <h3 class="h3 card-title">Exploration and Discovery</h3>

              <p class="card-text">
                Prepare to be enchanted by the wonders that await around every corner. Our game encourages thorough exploration of the school map, rewarding inquisitive players with hidden passages, quirky characters, and delightful surprises. Whether it's stumbling upon a forgotten library filled with ancient tomes or befriending the mischievous ghost rumored to haunt the halls, every discovery promises to enrich your gaming experience.
              </p>

              <span class="text-lg card-number">
                04
              </span>

              <a href="#" class="layer-link" aria-label="More about my Graphic Design service"></a>

            </div>
          </li>

          <li class="slider-item" data-slider-item>
            <div class="service-card">

              <div class="card-icon">
                <ion-icon name="megaphone-outline"></ion-icon>
              </div>

              <h3 class="h3 card-title">Challenging Puzzles</h3>

              <p class="card-text">
                Are you ready to put your intellect to the test? Our game is brimming with a diverse range of puzzles and obstacles designed to stimulate your mind and keep you on your toes. From logic puzzles and riddles to maze-like challenges and brainteasers, each obstacle presents a unique opportunity to showcase your problem-solving prowess. Prepare to unleash your inner sleuth as you unravel the mysteries that lie hidden within the school's walls.
              </p>

              <span class="text-lg card-number">
                05
              </span>

              <a href="#" class="layer-link" aria-label="More about my Digital Marketing service"></a>

            </div>
          </li>

          <li class="slider-item" data-slider-item>
            <div class="service-card">

              <div class="card-icon">
                <ion-icon name="chatbubbles-outline"></ion-icon>
              </div>

              <h3 class="h3 card-title">Endless Adventure</h3>

              <p class="card-text">
                The thrill of exploration knows no bounds in our game. With a vast map to traverse and an abundance of quests to undertake, the adventure never ends. Whether you're a seasoned gamer seeking a new challenge or a casual player looking for an immersive escape, our game promises hours of endless entertainment and discovery. So grab your backpack, sharpen your wit, and get ready to embark on the ultimate school adventure!
              </p>

              <span class="text-lg card-number">
                06
              </span>

              <a href="#" class="layer-link" aria-label="More about my Social Media service"></a>

            </div>
          </li>

  </ul>

<div class="slider-controls">
  <button class="slider-control prev" data-slider-prev aria-label="Slide to previous item">
    <div class="line"></div>
      <div class="arrow"></div>
        </button>

          <button class="slider-control next" data-slider-next aria-label="Slide to next item">
            <div class="line"></div>
              <div class="arrow"></div>
            </button>
          </div>

        </div>

    </div>
</section>





      <!-- 
        - #SKILLS
      -->

<section id="objective" class="section skills" aria-label="our skills">
  <div class="container">

    <p class="section-subtitle">I build the future</p>

    <h2 class="h2 section-title">
      The Game Objectives
    </h2>

      <div class="skills-wrapper">

            <div>
              <p class="section-text">
                In this captivating game, players assume the role of the ultimate school adventurer, navigating through a charming pixelated world filled with challenges and mysteries. Their mission? Conquer quests, solve puzzles, and unearth hidden secrets scattered throughout the whimsical school map. With each completed quest, players unlock new areas and rewards, delving deeper into the captivating depths of the pixelated landscape.
              </p>

              <p class="section-text">
                Armed with curiosity and cunning, players embark on an exhilarating journey, brimming with hidden passages, quirky characters, and endless surprises. As they explore the corridors and classrooms of the school, they'll uncover clues, befriend allies, and ultimately emerge as the hero of the pixelated halls. Are you ready to embark on this thrilling adventure and become the master of the school map?
              </p>

              <a href="#" class="btn has-before">razberyie@gmail.com</a>
            </div>

            <div>

              <ul class="skills-list">

                <li>
                  <div class="progress-wrapper">
                    <p class="progress-label">Critical Thinking</p>

                    <data class="progress-value" value="90">90%</data>
                  </div>

                  <div class="progress-bg">
                    <div class="progress" style="width: 90%;"></div>
                  </div>
                </li>

                <li>
                  <div class="progress-wrapper">
                    <p class="progress-label">Problem-Solving</p>

                    <data class="progress-value" value="80">80%</data>
                  </div>

                  <div class="progress-bg">
                    <div class="progress" style="width: 80%;"></div>
                  </div>
                </li>

                <li>
                  <div class="progress-wrapper">
                    <p class="progress-label">Attention to Detail</p>

                    <data class="progress-value" value="95">95%</data>
                  </div>

                  <div class="progress-bg">
                    <div class="progress" style="width: 95%;"></div>
                  </div>
                </li>

                <li>
                  <div class="progress-wrapper">
                    <p class="progress-label">Adaptability</p>

                    <data class="progress-value" value="85">85%</data>
                  </div>

                  <div class="progress-bg">
                    <div class="progress" style="width: 85%;"></div>
                  </div>
                </li>

              </ul>

            </div>

          </div>

        </div>
      </section>





      <!-- 
        - #PORTFOLIO
      -->

      <section id="character" class="portfolio" aria-labelledby="portfolio-label">

        <div class="title-wrapper container">

          <div>
            <p class="section-subtitle" id="portfolio-label">Our Works</p>

            <h2 class="h2 section-title">Characters</h2>
          </div>

          <p class="section-text">
            In our game, characters are more than just pixels on the screen – they're vibrant personalities that bring the adventure to life! From the brave protagonist leading the charge to the quirky allies and formidable adversaries encountered along the way, each character adds layers of depth and excitement to the journey through the pixelated school map. With courage in their hearts and mysteries to unravel, players will forge unforgettable connections and triumph over challenges in the ultimate quest through the halls of pixelated adventure!
          </p>

        </div>

        <div class="slider" data-slider>

          <ul class="slider-container" data-slider-container>

            <li class="slider-item">
              <div class="portfolio-card img-holder" style="--width: 600; --height: 600;">

                <img src="/Assets/landing_img/her_techis.png" width="600" height="600" loading="lazy" alt="portfolio"
                  class="img-cover">

                <div class="card-content">
                  <h3 class="h3 card-title">Baddie</h3>

                  <p class="card-text">Quick Collective Character</p>
                </div>

                <a href="#" class="layer-link"></a>

              </div>
            </li>

            <li class="slider-item">
              <div class="portfolio-card img-holder" style="--width: 600; --height: 600;">

                <img src="/Assets/landing_img/his_techis.png" width="600" height="600" loading="lazy" alt="portfolio"
                  class="img-cover">

                <div class="card-content">
                    <h3 class="h3 card-title">Yuh Gie</h3>

                    <p class="card-text">Nonchalant</p>
                </div>

                <a href="#" class="layer-link"></a>

              </div>
            </li>

            <li class="slider-item">
              <div class="portfolio-card img-holder" style="--width: 600; --height: 600;">

                <img src="/Assets/landing_img/chanci.png" width="600" height="600" loading="lazy" alt="portfolio"
                  class="img-cover">

                <div class="card-content">
                    <h3 class="h3 card-title">Chancellor</h3>

                    <p class="card-text">The Campus University Chancellor</p>
                </div>

                <a href="#" class="layer-link"></a>

              </div>
            </li>

            <li class="slider-item">
              <div class="portfolio-card img-holder" style="--width: 600; --height: 600;">

                <img src="/Assets/landing_img/dr.balazon.png" width="600" height="600" loading="lazy" alt="portfolio"
                  class="img-cover">

                <div class="card-content">
                    <h3 class="h3 card-title">Doc. F</h3>

                    <p class="card-text">The Head of RGO</p>
                </div>

                <a href="#" class="layer-link"></a>

              </div>
            </li>

            <li class="slider-item">
              <div class="portfolio-card img-holder" style="--width: 600; --height: 600;">

                <img src="/Assets/landing_img/dr.ryndel.png" width="600" height="600" loading="lazy" alt="portfolio"
                  class="img-cover">

                <div class="card-content">
                    <h3 class="h3 card-title">Dr. Ryndel</h3>

                    <p class="card-text">The CICS Department Head</p>
                </div>

                <a href="#" class="layer-link"></a>

              </div>
            </li>

            <li class="slider-item">
              <div class="portfolio-card img-holder" style="--width: 600; --height: 600;">

                <img src="/Assets/landing_img/sir.dion.png" width="600" height="600" loading="lazy" alt="portfolio"
                  class="img-cover">

                <div class="card-content">
                    <h3 class="h3 card-title">Prof. Dion</h3>

                    <p class="card-text">The Curriculum Adviser </p>
                </div>

                <a href="#" class="layer-link"></a>

              </div>
            </li>

            <li class="slider-item">
              <div class="portfolio-card img-holder" style="--width: 600; --height: 600;">

                <img src="/Assets/landing_img/maam.melo.png" width="600" height="600" loading="lazy" alt="portfolio"
                  class="img-cover">

                <div class="card-content">
                    <h3 class="h3 card-title">Mrs. Melo</h3>

                    <p class="card-text">The Librarian</p>
                </div>

                <a href="#" class="layer-link"></a>

              </div>
            </li>


            <li class="slider-item">
              <div class="portfolio-card img-holder" style="--width: 600; --height: 600;">

                <img src="/Assets/landing_img/ms.sulit.png" width="600" height="600" loading="lazy" alt="portfolio"
                  class="img-cover">

                <div class="card-content">
                    <h3 class="h3 card-title">Ms. Sulit</h3>

                    <p class="card-text">The Adviser</p>
                </div>

                <a href="#" class="layer-link"></a>

              </div>
            </li>

            <li class="slider-item">
              <div class="portfolio-card img-holder" style="--width: 600; --height: 600;">

                <img src="/Assets/landing_img/sir.daryl.png" width="600" height="600" loading="lazy" alt="portfolio"
                  class="img-cover">

                <div class="card-content">
                    <h3 class="h3 card-title">Sir Daryl</h3>

                    <p class="card-text">The Adviser</p>
                </div>

                <a href="#" class="layer-link"></a>

              </div>
            </li>

          </ul>

          <div class="slider-controls">
            <button class="slider-control prev" data-slider-prev aria-label="Slide to previous item">
              <div class="line"></div>
              <div class="arrow"></div>
            </button>

            <button class="slider-control next" data-slider-next aria-label="Slide to next item">
              <div class="line"></div>
              <div class="arrow"></div>
            </button>
          </div>

        </div>

      </section>





      <!-- 
        - #BLOG
      -->

      <section id="dev" class="section blog" aria-labelledby="blog-label">
        <div class="container">

          <p class="section-subtitle" id="blog-label">The creators</p>

          <h2 class="h2 section-title">Game Developers</h2>

          <ul class="blog-list">

            <li>
              <div class="blog-card">

                <figure class="card-banner img-holder" style="--width: 700; --height: 700; border-radius: 50px;">
                  <img src="/Assets/landing_img/3.png" width="700" height="700" loading="lazy" 
                    alt="Get Started With Tiktok Ads." class="img-cover">
                </figure>

                <div class="card-content">

                  <time class="time" datetime="2003-11-29">
                    <span class="span text-lg">29</span>
                    November 2003
                  </time>

                  <div>
                    <h3 class="h3 card-title">The Saint Agno</h3>
                    <h4 class="h4 card-title">John Razec Agno</h4>

                    <p class="card-text">
                     Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos, nostrum deleniti officia excepturi esse et ducimus! Earum, cumque officiis quo, aspernatur suscipit fugiat facere molestiae sunt molestias voluptate pariatur quia.
                    </p>

                    <a href="#" class="btn has-before">
                      <span class="span">Read more</span>

                      <ion-icon name="arrow-forward"></ion-icon>
                    </a>
                  </div>

                </div>

              </div>
            </li>

            <li>
              <div class="blog-card">

                <figure class="card-banner img-holder" style="--width: 700; --height: 700; border-radius: 50px;">
                  <i src="/Assets/landing_img/1.png" width="700" height="700" loading="lazy"
                    alt="UX in Ecommerce – 5 things to avoid." class="img-cover">
                </figure>

                <div class="card-content">

                  <time class="time" datetime="2002-11-13">
                    <span class="span text-lg">13</span>
                    November 2002
                  </time>

                  <div>
                    <h3 class="h3 card-title">The Cat lover.</h3>
                    <h4 class="h4 card-title">Bernadette Awatin</h4>

                    <p class="card-text">
                   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, at explicabo eligendi voluptatem unde incidunt! Ex non ipsa, est ad expedita, suscipit magnam provident ratione voluptatibus, odit error id aliquam.
                    </p>

                    <a href="#" class="btn has-before">
                      <span class="span">Read more</span>

                      <ion-icon name="arrow-forward"></ion-icon>
                    </a>
                  </div>

                </div>

              </div>
            </li>


            <li>
                <div class="blog-card">
  
                  <figure class="card-banner img-holder" style="--width: 700; --height: 700; border-radius: 50px;">
                    <img src="/Assets/landing_img/2.png" width="700" height="700" loading="lazy"
                      alt="Get Started With Tiktok Ads." class="img-cover">
                  </figure>
  
                  <div class="card-content">
  
                    <time class="time" datetime="2002-08-09">
                      <span class="span text-lg">09</span>
                      August 2002
                    </time>
  
                    <div>
                      <h3 class="h3 card-title">The Nonchalant</h3>
                      <h4 class="h4 card-title">Carlos Yajie Fetizanan</h4>
  
                      <p class="card-text">
                       Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit deserunt sunt magnam adipisci totam dolore, id obcaecati numquam consequatur odit ipsa incidunt corrupti nesciunt sapiente reiciendis accusantium dolor dolores hic.
                      </p>
  
                      <a href="#" class="btn has-before">
                        <span class="span">Read more</span>
  
                        <ion-icon name="arrow-forward"></ion-icon>
                      </a>
                    </div>
  
                  </div>
  
                </div>
              </li>
  


          </ul>

        </div>
      </section>

    </article>
  </main>





  <!-- 
    - #FOOTER
  -->

  <footer class="footer">
    <div class="container">

      <ul id="con" class="footer-list">

        <li>
          <p class="h4 footer-list-title">Get in touch</p>
        </li>

        <li>
          <a href="#" class="footer-link">razberyie@gmail.com</a>
        </li>

      </ul>

      <ul class="footer-list">

        <li>
          <p class="h4 footer-list-title">Locations</p>
        </li>

        <li>
          <a href="#" class="footer-link">Lipa Batangas - Philippines</a>
        </li>

      </ul>

      <ul class="social-list">

        <li>
          <a href="#" class="social-link">
            <ion-icon name="logo-github"></ion-icon>
          </a>
        </li>

        <li>
          <a href="#" class="social-link">
            <ion-icon name="logo-instagram"></ion-icon>
          </a>
        </li>

        <li>
          <a href="#" class="social-link">
            <ion-icon name="logo-facebook"></ion-icon>
          </a>
        </li>

        <li>
          <a href="#" class="social-link">
            <ion-icon name="logo-linkedin"></ion-icon>
          </a>
        </li>

      </ul>

    </div>
  </footer>





  <!-- 
    - custom js link
  -->


  <!-- 
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

  <script>
    'use strict';



/**
 * add event listener on multiple elements
 */

const addEventOnElements = function (elements, eventType, callback) {
  for (let i = 0, len = elements.length; i < len; i++) {
    elements[i].addEventListener(eventType, callback);
  }
}



/**
 * PRELOADER
 */

const preloader = document.querySelector("[data-preloader]");

window.addEventListener("DOMContentLoaded", function () {
  preloader.classList.add("loaded");
  document.body.classList.add("loaded");
});



/**
 * NAVBAR
 * navbar toggle for mobile
 */

const navTogglers = document.querySelectorAll("[data-nav-toggler]");
const navToggleBtn = document.querySelector("[data-nav-toggle-btn]");
const navbar = document.querySelector("[data-navbar]");
const overlay = document.querySelector("[data-overlay]");

const toggleNavbar = function () {
  navbar.classList.toggle("active");
  navToggleBtn.classList.toggle("active");
  overlay.classList.toggle("active");
  document.body.classList.toggle("nav-active");
}

addEventOnElements(navTogglers, "click", toggleNavbar);

/**
 * HEADER
 * header active when window scroll down to 100px
 */

const header = document.querySelector("[data-header]");

window.addEventListener("scroll", function () {
  if (window.scrollY >= 100) {
    header.classList.add("active");
  } else {
    header.classList.remove("active");
  }
});



/**
 * SLIDER
 */

const sliders = document.querySelectorAll("[data-slider]");

const initSlider = function (currentSlider) {

  const sliderContainer = currentSlider.querySelector("[data-slider-container]");
  const sliderPrevBtn = currentSlider.querySelector("[data-slider-prev]");
  const sliderNextBtn = currentSlider.querySelector("[data-slider-next]");

  let totalSliderVisibleItems = Number(getComputedStyle(currentSlider).getPropertyValue("--slider-items"));
  let totalSlidableItems = sliderContainer.childElementCount - totalSliderVisibleItems;

  let currentSlidePos = 0;

  const moveSliderItem = function () {
    sliderContainer.style.transform = `translateX(-${sliderContainer.children[currentSlidePos].offsetLeft}px)`;
  }

  /**
   * NEXT SLIDE
   */
  const slideNext = function () {
    const slideEnd = currentSlidePos >= totalSlidableItems;

    if (slideEnd) {
      currentSlidePos = 0;
    } else {
      currentSlidePos++;
    }

    moveSliderItem();
  }

  sliderNextBtn.addEventListener("click", slideNext);

  /**
   * PREVIOUS SLIDE
   */
  const slidePrev = function () {
    if (currentSlidePos <= 0) {
      currentSlidePos = totalSlidableItems;
    } else {
      currentSlidePos--;
    }

    moveSliderItem();
  }

  sliderPrevBtn.addEventListener("click", slidePrev);

  const dontHaveExtraItem = totalSlidableItems <= 0;
  if (dontHaveExtraItem) {
    sliderNextBtn.style.display = 'none';
    sliderPrevBtn.style.display = 'none';
  }

  /**
   * slide with [shift + mouse wheel]
   */

  currentSlider.addEventListener("wheel", function (event) {
    if (event.shiftKey && event.deltaY > 0) slideNext();
    if (event.shiftKey && event.deltaY < 0) slidePrev();
  });

  /**
   * RESPONSIVE
   */

  window.addEventListener("resize", function () {
    totalSliderVisibleItems = Number(getComputedStyle(currentSlider).getPropertyValue("--slider-items"));
    totalSlidableItems = sliderContainer.childElementCount - totalSliderVisibleItems;

    moveSliderItem();
  });

}

for (let i = 0, len = sliders.length; i < len; i++) { initSlider(sliders[i]); }
  </script>

</body>

</html>