body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
}

h1,p {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#btn {
    background-color: rgb(107, 196, 107);
    border-style: none;
    padding: 10px;
}