body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: rgb(178, 118, 118);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    background-color: rgb(117, 31, 31);
    width: 600px;
    height: 500px;
    padding: 0px;
}

p, #btn {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.top p {
    font-size: 50px;
    color: rgb(255, 255, 255);
}

.top {
    align-content: center;
    text-align: center;
    height: 100px;
    width: 300px;
}

.mid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(199, 86, 86);
    height: 250px;
    width: 500px;
    text-align: center;
    align-content: center;
    padding: 20px;
}

.mid p {
    font-size: 20px;
    padding: 0;
}
.uname_pass {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

input {
    color: rgb(107, 107, 107);
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    height: 10px;
    width: 400px;
    padding: 10px;
}

.btns {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    height: 60px;
    width: 530px;
    padding:3px;
}

#btn {
    background-color: rgb(116, 161, 116);
    border-style: none;
    font-size: 20px;
    border-radius: 50px;
    padding: 10px 30px;
    cursor: pointer;
    color: white;
} 