* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body { min-height: 100vh; }


body, .left, .right,.pages {
    display: flex;
    flex-direction: column;
} 

.center, .right.lower, nav, #options {
    display: flex;
}

li {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

#title {
    flex:auto;
    max-height: 200;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav {
    flex: 0 1 auto;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgb(150, 66, 66);
    color: white;
}

#options {
    flex:auto;
    align-items: center;
    justify-content: flex-end;
    font-size: 20px;
    gap: 25px;
}

.center {
    flex: 0 1 auto;
    background-color: rgb(113, 94, 94);
    height: 85vh;
}

footer {
    flex: 0 1 auto;
}

.left {
    justify-content: center;
    align-items: center;
    min-width: 300px;
}

.left.cont {
    background-color: rgb(244, 244, 244);
    justify-content: flex-start;
    gap: 10px;
    align-items: center;
    min-width: 270px;
    border: double;
    border-radius: 10px;
    border-color: rgb(81, 81, 81);
    border-width: 5px;
    min-height: 70vh;

}

.menu {
    font-size: 50px;
    border: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 250px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
}

.pages {
    font-size: 30px;
    color: rgb(76, 77, 77);
    gap: 50px;
    padding-top: 10vh;
}